/**
 * You can remove this file if you don't need any styles
 * See default library styles: https://github.com/mnaoumov/obsidian-dev-utils/blob/main/src/styles/main.scss
 * See available library css classes: https://github.com/mnaoumov/obsidian-dev-utils/blob/main/src/CssClass.ts
 */

.siftly-syncer.obsidian-dev-utils {
  /* Override library styles */
}

.siftly-stats-validator-status {
  margin-top: 0.35em;
  margin-bottom: 0.75em;
  min-height: 1.2em;
  font-size: var(--font-ui-smaller);

  &.valid {
    color: var(--text-success);
  }

  &.invalid {
    color: var(--text-error);
  }
}
