/**
 * You can remove this file if you don't need any styles
 * See default library styles: https://github.com/mnaoumov/obsidian-dev-utils/blob/main/src/styles/main.scss
 * See available library css classes: https://github.com/mnaoumov/obsidian-dev-utils/blob/main/src/CssClass.ts
 */

.siftly-syncer.obsidian-dev-utils {
  /* Override library styles */
}

.siftly-stats-info {
  margin-top: 8px;
  font-size: 0.8em;
  padding: 8px;
  border-radius: 4px;
  background-color: var(--background-secondary);
}


/* Siftly status indicators */
.siftly-stats-info.valid,
.siftly-stats-status.valid {
  color: var(--color-green);
}

.siftly-stats-info.invalid,
.siftly-stats-status.invalid {
  color: var(--color-red);
}

.siftly-stats-info.valid {
  border-left: 3px solid var(--color-green);
}

.siftly-stats-info.invalid {
  border-left: 3px solid var(--color-red);
}
